<!DOCTYPE html>

{% load static %}

<html>
    <head>
        <title> Poem per Day </title>
        <link rel="stylesheet" type="text/css" href="{% static "css/poem_per_day.css" %}">
        <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Oswald">
        <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet"/> 
        <script type="text/javascript" src="{% static "javascript/poem_per_day.js" %}" defer> </script>
    </head>

    <body>

        <h1 align="center"> Poem per Day </h1>

        <div id="poem_arrows_container">

            <button id="previous_poem_arrow" class="poem_arrow poem_arrow_hoverable" title="Click to show previous poem">
        	    <i class="fa fa-arrow-left"></i> 
            </button>

            <button id="next_poem_arrow" class="poem_arrow poem_arrow_not_hoverable" title="Click to show next poem">
        	    <i class="fa fa-arrow-right"></i> 
            </button>
        </div>

        <table id="poem_table">
            {% if poem %}
            <span id="poem_id" data-id="{{ poem.id }}"> </span>
            <tr>
                <td id="poem_title"> {{ poem.title }} </td>
            </tr>
            <tr>
                <td id="poem_author"> by {{ poem.author }} </td>
            </tr>
            <tr>
                <td id="poem_date"> {{ poem.date_selected }} </td>
            </tr>
            <tr>
                <td id="poem_text"> {{ poem.lines }} </td> 
            </tr>
            {% endif %}
        </table>

    </body>

</html>
