[Unit]
Description=Generate Poem per Day
After=network.target

[Service]
Type=simple
WorkingDirectory=var/www/Personal-Website
ExecStart=/usr/bin/python var/www/Personal-Website/manage.py generate_poem_per_day
User=root
Group=root
Restart=always
RestartSec=1
StartLimitBurst=0

[Install]
WantedBy=multi-user.target
